*{
    color: red;
}

p {
    font-size: 16px;
    color: rgb(114, 218, 250);
    background-color: rgb(12, 17, 6);
}
style
body{
background-color: rgb(153, 184, 40);
}
style
h1
h2
h3
h4
h5
h6
{
    font-family: Arial, Helvetica, sans-serif;
    color: honeydew;
    
}